* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px 30px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  text-align: center;
  animation: fadeIn 1s ease;
}

.login-card h2 {
  margin-bottom: 5px;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #999;
  font-size: 14px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -5px;
  font-size: 12px;
  color: #667eea;
}

.input-group input:focus {
  border-bottom: 2px solid #667eea;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.register-text a {
  text-decoration: none;
  color: #667eea;
  font-weight: bold;
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
